<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/transmilenio?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="mapeo/RecorridosHasServicios.hbm.xml"/>
    <mapping resource="mapeo/Rutas.hbm.xml"/>
    <mapping resource="mapeo/Horario.hbm.xml"/>
    <mapping resource="mapeo/Zonas.hbm.xml"/>
    <mapping resource="mapeo/Servicios.hbm.xml"/>
    <mapping resource="mapeo/Dias.hbm.xml"/>
    <mapping resource="mapeo/Estaciones.hbm.xml"/>
    <mapping resource="mapeo/Troncales.hbm.xml"/>
    <mapping resource="mapeo/TipoServicio.hbm.xml"/>
    <mapping resource="mapeo/Recorridos.hbm.xml"/>
    <mapping resource="mapeo/Usuarios.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
